body{
  min-width: 1160px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  font-weight:400;
  font-size:15px;
  font-family:"Open Sans Light","Arial",sans-serif;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


@font-face{
  font-weight:700;
  font-family:"Gilroy ExtraBold";
  font-style:normal;
  src:url(../fonts/web/gilroyextrabold.woff) format("woff"),url(../fonts/web/gilroyextrabold.woff2) format("woff2");
}

@font-face{
  font-weight:lighter;
  font-family:"Gilroy Light";
  font-style:normal;
  src:url(../fonts/web/gilroylight.woff) format("woff"),url(../fonts/web/gilroylight.woff2) format("woff2");
}
@font-face{
  font-weight:400;
  font-family:"Open Sans";
  font-style:normal;
  src:url(../fonts/web/opensans.woff) format("woff"),url(../fonts/web/opensans.woff2) format("woff2");
}
@font-face{
  font-weight:lighter;
  font-family:"Open Sans Light";
  font-style:normal;
  src:url(../fonts/web/opensanslight.woff) format("woff"),url(../fonts/web/opensanslight.woff2) format("woff2");
}

.container {
  width: 1160px;
  margin: 0 auto;
}
.header {
  background-color: #f7e296;
  padding-left: 60px;
  padding-right: 60px;
}

a{
  font-family: Open Sans Light;
  font-size: 15px;
  line-height: 30px;
  color: black;
  font-weight: lighter;
  text-decoration: none;
}


.logo {
  font-weight: 900;
  font-size: 48px;
  line-height: 48px;
  color: black;
  text-decoration: none;
  font-family:"Gilroy ExtraBold";
  position: absolute;
  top: 16px;
    margin-left: -4px;
    letter-spacing: 1px;
}

form.search-form{
  position: relative;
  float: left;
  display: block;
  width: 450px;
  height: 49px;
  padding-top: 35px;
  margin: 0;

}

.search-form::before {
  content: "";
  position: absolute;
    top: 52px;
    left: 3px;
    width: 18px;
    height: 18px;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;

}

input[type=search]{
  width: 315px;
  min-height: 49px;
  font-size: 15px;
  padding-left: 40px;
  background-color: #f7e296;
  border: none;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    opacity: .3;
    font-family: Open sans light;

}

input[type=search]:hover {
  opacity: .6;

}

.search-form input[type="search"]:focus{
  border-bottom: 2px solid transparent;
  outline: none;
  opacity: 1;
}

input[type="search"]:focus-within+input[type="submit"]{
  z-index: 2;
}

.search-form {
  --has-focus: 0;

  all: unset;
  box-sizing: border-box;
  padding: 20px 30px;
  font-size: 15px;
  line-height: 2;
}

.search-form:focus-within {
  --has-focus: 1;
}

.form-outline {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  left: 0px;
  top: 35px;
  width: 440px;
  pointer-events: none;
  stroke-dasharray: calc(var(--has-focus) * 100) 999;
  transition: stroke-dasharray 0.5s ease-in-out;
}

.ss1 {
  display: block;
}

input[type="submit"] {
  display: inline-block;
  position: absolute;
  left: 320px;
  width: 82px;
  min-height: 49px;
  margin-left: -3px;
  background-color: transparent;
  border: 2px solid transparent;
  outline: none;
  cursor: unset;
  font-family: Open sans light;
  font-size: 15px;
  color: black;
  opacity: 0;
  z-index: -1;
  transition: color 1s;
  transition: opacity 0.5s;
}

.search-form-visible+input[type=submit]:active,
.search-form-visible:focus+input[type=submit]{
  display: inline-block;
  /* transition: opacity ease-in 0.5s; */
  /* transition-delay: opacity 0.8s; */
  opacity: 1;
}

input[type=submit]:hover{

  color: white;
  cursor: pointer;
  z-index: 2;

}

span.w23{
    position: absolute;
    top: 36px;
    left: 398px;
    width: 0px;
    height: 46px;
  background-color: black;
  transition: all 0.5s ease;
}

input[type=submit]:hover+span.w23 {
    position: absolute;
    top: 36px;
    left: 316px;
    width: 82px;
    height: 46px;
  background-color: black;
  transition: all 0.5s ease;
}

.header-block a:hover {
  opacity: .6;
}

.user-block {
  display: inline-block;
  padding-top: 43px;
  margin-left: 115px;
  margin-bottom: 25px;
}

.user-enter{
  position: relative;
  margin-right: 236px;
}

.user-enter::before {
  content: "";
  position: absolute;
    top: 4px;
    left: -25px;
    width: 18px;
    height: 18px;
  background-image: url(../img/user.svg);
  background-repeat: no-repeat;
}


.user-сompare {
  position: relative;
  margin-right: 58px;
}

.user-сompare::before {
  content: "";
  position: absolute;
    top: 5px;
    left: -20px;
    width: 18px;
    height: 18px;
  background-image: url(../img/compare.svg);
  background-repeat: no-repeat;
}

.user-cage{
  position: relative;
}

.user-cage::before {
  content: "";
  position: absolute;
    top: 5px;
    left: -20px;
    width: 18px;
    height: 18px;
  background-image: url(../img/cart.svg);
  background-repeat: no-repeat;
}

.main-nav {
  display: inline-block;
  margin-bottom: 147px;
}

.main-catalog{
  position: relative;
}

.site-catalog {
  position: relative;
  padding-right: 20px;
}
.site-catalog::after{
  content: "";
  position: absolute;
    top: 2px;
    left: 231px;
    width: 18px;
    height: 18px;
  background-image: url(../img/plus.png);
  background-repeat: no-repeat;
}

.main-links {
  font-family: Gilroy;
  line-height: 24px;
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: .2em;
}

 .main-nav li {
  display: inline-block;
  vertical-align: baseline;
}

.catalog-visible::before {
  content: "";
    bottom: 0;
    left: -60px;
    z-index: -1;
    width: 1160px;
    height: 100%;
    padding-top: 0;
}

.catalog-visible,
.catalog-visible::before {
  position: relative;
    background-color: #f7e296;
}

.site-catalog{
  margin-right: 298px;
  margin-left: -41px;
}

.catalog-visible {
  display: none;
  position: absolute;
  top: 20px;
  min-height: 144px;
  z-index: 5;
  width: 640px;
  padding-top: 22px;
  left: -40px;
  padding-right: 460px;
}


.catalog-visible a {
  font-family: Open sans light;
  font-size: 15px;
  line-height: 36px;
  color: black;
}

.catalog-visible li:nth-child(3n+1){
  margin-right: 32px;
}

.catalog-visible:hover, .site-catalog:hover+.catalog-visible{
  display: block;
}

.catalog-visible li {
  width: 200px;
}


.catalog-visible li:last-child {
  display: block;
}

.site-delivery{
  margin-right: 30px;
}
.site-guarantee{
  margin-right: 101px;
}

.slider-1,
.slider-2,
.slider-3 {
  position: relative;
  top: -72px;
}

.image-slider-1,
.image-slider-2 {
  position: relative;
  margin-left: 90px;
  top: -40px;
}

.image-slider-3 {
  position: relative;
  margin-left: 34px;
  top: 22px;
}

.main-description {
  position: relative;
  float: right;
  width: 511px;
  margin-right: 50px;
  transition: all ease 0.5s;
}

.slider-1::before {
  content: "01";
  position: absolute;
  font-family: Gilroy;
  font-size: 180px;
  font-weight: bolder;
  color: white;
  line-height: 179,2px;
  letter-spacing: 1px;
  right: -3px;
  top: -73px;
  z-index: 0;
}

.slider-2::before {
  content: "02";
  position: absolute;
  font-family: Gilroy;
  font-size: 180px;
  font-weight: bolder;
  color: white;
  line-height: 179,2px;
  letter-spacing: 1px;
  right: -3px;
  top: -73px;
  z-index: 0;
}

.slider-3::before {
  content: "03";
  position: absolute;
  font-family: Gilroy;
  font-size: 180px;
  font-weight: bolder;
  color: white;
  line-height: 179,2px;
  letter-spacing: 1px;
  right: -3px;
  top: -73px;
  z-index: 0;
}

.main-description h1 {
  display: block;
  font-family: Gilroy;
  font-size: 47px;
  line-height: 56px;
  font-weight: bolder;
  width: 510px;
  letter-spacing: 0.6px;
  padding-bottom: 0;
  margin-bottom: 20px;
  margin-top: 40px;
  z-index: 2;
}

.main-description p {
  font-family: Open sans Light;
  font-size: 15px;
  line-height: 30px;
  color: black;
  letter-spacing: 0.2px;
  width: 490px;
  margin-bottom: 48px;
  z-index: 2;
}

.main-description a {

  font-family: Gilroy;
  font-size: 18px;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  margin-left: 3px;
  z-index: 2;
  text-align: center;
  display: inline-block;
  width: 220px;
  margin-bottom: 55px;
}

.main-description a::after {
  content: "";
  position: absolute;
  background-color: #f0c52e;
  width: 220px;
  height: 8px;
  right: 290px;
  top: 291px;
  z-index: -1;
  transition:  ease-in 0.2s;
}

.main-description a:hover::after {
  height: 40px;
  top: 274px;
  transition:  ease-in 0.2s;
}

.first-stroke {
  font-family: Gilroy;
  font-size: 36px;
  font-weight:400;
}

.first-stroke td {
  padding-right: 75px;
  padding-bottom: 7px;
}

.second-srtoke {
  font-family: Open sans light;
  font-size: 13px;
  font-weight: 400;
}

.hide {
  display: none;
}

.slide-сontrols {
  position: absolute;
  top: 554px;
  right: 437px;

}

.slide-сontrols label{
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 17px;
  vertical-align: top;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 50%;
  right: 50px;
  cursor: pointer;
}

#btn1:checked ~ main .radio-indicator-1
{
  position: absolute;
  top: 1px;
  left: 1px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.8);

}

#btn2:checked ~ main .radio-indicator-2
{
 position: absolute;
  top: 1px;
  left: 34px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.8);

}

#btn3:checked ~ main .radio-indicator-3
{
  position: absolute;
  top: 1px;
  left: 67px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.8);

}

.slider-1,
.slider-2,
.slider-3 {
  display: none;
  opacity: -1;
  transition: all ease 0.5s;
}

#btn1:checked ~ main .slider-1 {
  opacity: 1;
  display: block;
  transition: all ease 0.5s;
}

#btn2:checked ~ main .slider-2 {
  opacity: 1;
  display: block;
  transition: all ease 0.5s;
}

#btn3:checked ~ main .slider-3{
  display: block;
  opacity: 1;
  transition: all ease 0.5s;
}



.slide-photos {
  position: absolute;
  top: 470px;
  left: 275px;

}

.slide-photos label{
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 17px;
  vertical-align: top;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 50%;
  right: 50px;
  cursor: pointer;

}

#sp1:checked ~ main .radio-photo1
{
  position: absolute;
  top: -3px;
  left: -3px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  border: 1px solid black;


}

#sp2:checked ~ main .radio-photo2
{
  position: absolute;
  top: -3px;
  left: 29px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  border: 1px solid black;
}

#sp3:checked ~ main span.radio-photo3{
  position: absolute;
  top: -3px;
  left: -3px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: black;
  border: 1px solid black;
}

#sp4:checked ~ main span.radio-photo4{
  position: absolute;
  top: -3px;
  left: 29px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: black;
  border: 1px solid black;
}

#sp5:checked ~ main span.radio-photo5{
  position: absolute;
  top: -3px;
  left: -3px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: black;
  border: 1px solid black;
}

#sp6:checked ~ main span.radio-photo6{
  position: absolute;
  top: -3px;
  left: 29px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: black;
  border: 1px solid black;
}

.image-slider-1 {
  opacity: -1;
  transition: all ease 0.5s;
}

.image-slider-2 {
  opacity: -1;
  transition: all ease 0.5s;
}

#sp1:checked ~ main .image-slider-1 {
  opacity: 1;
  transition: all ease 0.5s;
}

#sp3:checked ~ main .image-slider-2 {
  opacity: 1;
  transition: all ease 0.5s;
}

#sp2:checked ~ main .main-description {
  margin-right: 30px;
  transition: all ease 0.5s;
}

#sp4:checked ~ main .main-description {
  margin-right: 30px;
  transition: all ease 0.5s;
}

#sp6:checked ~ main .main-description {
  margin-right: 30px;
  transition: all ease 0.5s;
}

#sp5:checked ~ main .image-slider-3 {
  opacity: 1;
  transition: all ease 0.5s;
}

.slide-3d,
.slide-3d2,
.slide-3d3 {
  position: absolute;
  opacity: -1;
  width: 590px;
  margin-left: 0px;
  margin-top: -400px;
  transition: all ease 0.5s;
  border: 3px solid #f7e296;
  border-bottom: none;
}

.slide-3d3{
margin-top: -247px;
position: absolute;
  opacity: -1;
  width: 590px;
  margin-left: 0px;

  transition: all ease 0.5s;
  border: 3px solid #f7e296;
  border-bottom: none;
}
.slide-3d::after
 {
  content: "";
  width: 590px;
  height: 10px;
  position: absolute;
  background-color: #f7e296;
  top: 332px;
}
.slide-3d::before {
  content: "";
  width: 596px;
  height: 40px;
  position: absolute;
  background-color: #f7e296;
  top: -30px;
  left: -3px;
}

.slide-3d2::after
 {
  content: "";
  width: 590px;
  height: 10px;
  position: absolute;
  background-color: #f7e296;
  top: 332px;
}
.slide-3d2::before {
  content: "";
  width: 596px;
  height: 40px;
  position: absolute;
  background-color: #f7e296;
  top: -30px;
  left: -3px;
}

.slide-3d3::after
 {
  content: "";
  width: 590px;
  height: 10px;
  position: absolute;
  background-color: #f7e296;
  top: 332px;
}
.slide-3d3::before {
  content: "";
  width: 596px;
  height: 40px;
  position: absolute;
  background-color: #f7e296;
  top: -30px;
  left: -3px;
}


#sp2:checked ~ main .slide-3d {
  position: absolute;
  opacity: 1;
  transition: all ease 0.5s;
  width: 590px;
  margin-left: 0px;
  margin-top: -400px;
}

#sp4:checked ~ main .slider-2 .slide-3d2 {
  position: absolute;
  opacity: 1;
  transition: all ease 0.5s;
  width: 590px;
  margin-left: 0px;
  margin-top: -400px;
}


#sp6:checked ~ main .slider-3 .slide-3d3 {
  position: absolute;
  opacity: 1;
  transition: all ease 0.5s;
  width: 590px;
  margin-left: 0px;
  margin-top: -247px;
}

.image-slider-2 {
  opacity: -1;
  transition: all ease 0.5s;
}

.image-slider-3 {
  opacity: -1;
  transition: all ease 0.5s;
}

#sp3:checked ~ main .image-slider-2 {
  opacity: 1;
  transition: all ease 0.5s;
}

#sp5:checked ~ main .image-slider-3 {
  opacity: 1;
  transition: all ease 0.5s;
}

.slide-photos label:hover {
  border-color: black;
  border-radius: 20%;
  transition: all ease 0.1s;

}
